.container {
  width: 90%;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  min-height: 50rem;
}

.contentContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.content {
  flex: 3;
  text-align: right;
}

.text {
  font-weight: 900;
  font-size: 60px;
  margin-right: 20px;
  width: 100%;
}

.paragraph {
  margin-top: 20px;
  margin-right: 1.5rem;
  font-size: 22px;
  font-weight: 400;
  width: 100%;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.imageContainer {
  width: 650px;
  height: 650px;
  flex: 2;
}

@media (max-width: 768px) {
  .contentContainer {
    flex-direction: column-reverse;
  }

  .text {
    font-size: 40px;
    text-align: center;
    margin-right: 0;
  }

  .paragraph {
    font-size: 18px;
    margin-right: 0;
  }

  .imageContainer {
    width: 100%;
    height: auto;
  }

  .content {
    text-align: center;
  }
}
