.container {
  border-radius: 14px;
  padding: 20px;
  border: 1px solid #121d9e;
  border-radius: 5px;
  text-align: center;
  margin-left: 9rem;
  border-radius: 5px;
  background: rgb(243, 244, 246);
  margin-top: 15px;
}

.item {
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  color: #010000;
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  margin-left: 25px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.item:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.background {
  width: 25%;
  height: 25%;
}

.item img {
  margin-right: 20px;
}

.item span {
  font-size: 16px;
  font-weight: bold;
}

@media (max-width: 768px) {
  .container {
    width: 100%;
    height: auto;
    padding: 10px;
  }

  .item {
    margin-left: 50px;
  }
}


@media (max-width: 768px) {
  .background {
    display: flex;
    justify-content: center; 
    padding: 10px;
    width: 100%; 
  }

  .container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .item {
    display: flex;
    width: 100%; 
    justify-content: center; 
    padding: 10px 0;
  }

  .item span {
    margin-left: 10px;
    white-space: nowrap; 
  }
}




