
.image {
    width: 240px;
    height: 240px;
  }
  
  .adress,
  .deliveryMin,
  .price,
  .cuisine {
    color: black;
  }
  .name {
    font-size: 19px;
  }
  
  .main {
    display: flex;
    flex-wrap: wrap;
  }
  
  .product {
    color: white;
    border: 1px solid white;
    margin: 10px;
    background-color: white;
    margin-top: 40px;
  }
  
  .icons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .editIcon,
  .deleteIcon {
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
  
  
  .editMenu {
    color: black;
  }